/* Top nav*/

.navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: white;
	top: 0px;

}

.navigation .navi-content {
	padding: 0 24px;
	margin: 0 auto;
	width: 970px;
	height: 70px;
}


.navi-content .links {
	font-family: 'Quicksand', sans-serif; 
	letter-spacing: 0.3em;
	color: #838994;
	-webkit-font-smoothing: antialiased;
	float: right;
}

.navi-content .links li {
	display: inline-block;
	font-size: 16px;
	p

}

/* list items in top nav*/
ol, ul {
    list-style: none;
}


/* 2nd section*/

.first {
	background-image: url("images/yellow-metal-design-decoration.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
    font-family: 'Quicksand', sans-serif;    
    letter-spacing: 0.3em;
    color: #838994;
    -webkit-font-smoothing: antialiased;

}

h1 {
    margin: 100px;
}

/* Cases section */

.cases {
    padding-bottom: 7rem;
    padding-top: 1rem;
    background-color: rgba(241, 90, 36, 1);
    }


.cases h3 {
    font-family: 'Quicksand', sans-serif; 
    letter-spacing: 0.023em;
    font-weight: lighter;
}

.cases .content {
    text-align: center;
}

.cases .devices li {
    display: inline-block;
    padding-right: 4.92em;
    -webkit-font-smoothing: antialiased;

}

ol, ul {
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
    display: list-item;
}

/* Cases */

.cases h2 {
    font-family: 'Quicksand', sans-serif; 
    -webkit-font-smoothing: antialiased;
    margin-top: 5rem;
    font-size: 2.423rem;
    text-align: center;
    font-weight: lighter;
}

.cases .devices {
    height: 4em;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    /*border: 1px solid black;
    margin-left: 15px;*/
}

.cases .devices h3 {
    font-weight: 400px;
    font-family: 'Quicksand', sans-serif; 
    -webkit-font-smoothing: antialiased;
    margin: 2rem 0px 2rem;
}


/* Social Footer Icons */
.social {
    text-align: center;
}
.social h3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif; 
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;

}

.social hr {
    border: 1px solid #eaebec;
   /* line up hr to img. padding on the left side.*/
}

.social .icons > li {
    display: inline-block;
    text-align: center;
    border: 1px solid #eaebec;
    border-radius: 37px;
    height: 2rem;
    width: 2rem;
    padding: 0.4rem 0;
    margin: 14px 3px;
    }

.social .fa-twitter {
    color: #55acee;
}

.social .fa-facebook {
    color: #4c66a4;
}

.social .fa-instagram {
    color: #3f729b;
}

.social .copy {
    font-family: 'Quicksand', sans-serif; 
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 12px;
    color: #838994;
    padding: 0px;
    margin: 0px;
    -webkit-padding-start: 40px;
}

